---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    {% unless post.draft %}
      <article class="post">
        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
        {% assign image_content = post.content %}
        {% include JB/first_image %}
        {% if img_src %}
          <img class = "thumb" src = "{{ img_src | replace:'svg','png'}}" alt = "Thumbnail of {{ img_src }}">
        {% endif %}
        <div class="entry">
          {{ post.excerpt }}
        </div>
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      </article>
    {% endunless %}
  {% endfor %}
</div>
